#headerDiv{
	position:absolute;
	left:0;
	top:0;

	width:100vw;
	height:70px;

	background:#0a2351;
}
#mainDiv{
	position:absolute;
	left:0;
	top:70px;

	width:100vw;
	height:calc(100vh - 70px);

	background:#dbdbdb;
}


/** Navigation on desktop **/
#desktopNav{
	float:right;
	height:100%;

	border-collapse:collapse;
}
#desktopNav td{
	height:100%;

	border: 1px solid #e6e9ed;
	border-collapse: collapse;
}
#desktopNav a{
	display: block;

	height:100%;
	width:100%;
}
#desktopNav a span{
	display: block;
	position: relative;

	top:50%;
	transform: translateY(-50%);

	padding-left:1vw;
	padding-right:1vw;
	color: #e6e9ed;
	text-decoration:none;
}


/** Navigation on smaller screens **/
@media only screen and (max-width:850px){
	#headerDiv img{
		display: none;
	}
}