body{
	background:#e7ecef;
}
#title{
	position:absolute;
	left:50%;
	transform:translate(-50%,0);
}
#title h1{
	font-size:35px;
	color:#272932;
}
#main{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
