#title{
	position:absolute;
	left:50%;
	transform:translate(-50%,0);
}
#title h1{
	font-size:35px;
	color:#272932;
}

#main{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
#text{
	position:relative;
	height:30px;
	width:300px;
	font-size:16px;
	border:2px solid #0f7173;
}
#submit{
	position:relative;
	left:50%;
	top:5px;
	transform:translate(-50%,0);
	width:70px;
	height:30px;
	font-size:16px;
	border:1px solid #f05d5e;
	color:#f05d5e;
}
